.word-card {
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
    margin: 20px;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    display: in-line-block;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}


